.menu {
    background-color: #f25a5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    color: #ffffff;
    font-size: 18px;
}

.admin-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-name {
    color: #ffffff;
    margin-right: 20px;
    white-space: nowrap;
}

.logout-btn {
    background-color: #ffffff;
    color: #f25a5a;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    height: 40px;
}

.logout-btn:hover {
    background-color: rgb(255, 243, 243);
}