body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.login-page {
    width: 350px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.login-header {
    text-align: center;
    font-size: 24px;
    color: #f25a5a;
    margin-bottom: 20px;
}

.login-header .icon {
    font-size: 50px;
    color: #f25a5a;
}

.login-page h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Стили для полей формы */
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border-color: #f25a5a;
    outline: none;
}

/* Стили для сообщений об ошибках */
.error-message {
    color: #f25a5a;
    font-size: 12px;
    margin: 5px 0;
}

/* Кнопка */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #f25a5a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}

button[type="submit"]:hover {
    background-color: #e14a4a;
}

/* Ссылка для восстановления пароля */
.forgot-password {
    text-align: center;
    font-size: 14px;
    color: #f25a5a;
    cursor: pointer;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Кнопка для переключения форм */
button {
    width: 100%;
    background-color: #f25a5a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin-top: 15px;
}