:root {
    --primary-color: #f25a5a;
    --primary-hover: rgb(255, 243, 243);
    --bg-main: #ffffff;
    --text-main: #333333;
    --text-muted: #555555;
    --border-light: #dddddd;
    --font-size-label: 20px;
    --font-size-input: 15px;
    --radius-standard: 6px;
    --transition-speed: 0.3s;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    padding: 10px 20px;
    gap: 5px;
}

.filter-container label {
    font-size: var(--font-size-label);
    margin-right: 10px;
    color: var(--text-main);
}

.filter-container select {
    padding: 10px 15px;
    font-size: var(--font-size-input);
    border-radius: var(--radius-standard);
    border: 1px solid var(--border-light);
    background-color: var(--bg-main);
    color: var(--text-muted);
    transition: border var(--transition-speed) ease;
    width: 150px;
}

.filter-container select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.filter-container button {
    padding: 8px 16px;
    background-color: var(--primary-color);
    color: var(--bg-main);
    border: none;
    border-radius: var(--radius-standard);
    cursor: pointer;
    font-size: 1em;
    transition: background-color var(--transition-speed);
    margin-left: 10px;
}

.filter-container select option {
    padding: 10px;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.filter-container input,
.filter-container select,
.filter-container button {
    margin: 0;
}

@media (max-width: 480px) {
    .filter-label {
        display: block;
        margin: 0;
    }

    .filter-container select {
        display: block;
        padding: 8px 15px;
    }

    .filter-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }

    .filters {
        gap: 10px;
        justify-content: center;
    }
}