.filters-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.no-users {
  font-size: 20px;
  color: #f25a5a;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .filters-block {
    display: block;
  }

  .user-list {
    display: block;
    justify-content: center;
  }
}
